.profile {
  height: 100vh;
  color: white;
  background-color: #201e1e;
  padding-top: 36px; /* spacing below Nav */
  z-index: 200;
}

.profile__body {
  padding-top: 36px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  max-width: 800px;
  margin: auto;
}

.profile__info img {
  width: 120px;
  height: 120px;
  border-radius: 5%;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-bottom: 20px;
}

.profile__info img:hover {
  transform: scale(1.05);
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
}

.profile__backhome {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.profile__goback {
  background-color: transparent;
  color: #ffffff;
  border: 2px solid #ca0000;
  padding: 10px 20px;
  
  margin-top: 20px;
  font-weight: bold;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
}

.profile__goback:hover {
  background-color: #e50914;
  color: white;
}
